.header-general{
    width: 100%;
    height: fit-content;
}

.img-header {
  position: relative;
  width: 100%;
  height: fit-content;
}

.logo {
  position: absolute;
  z-index: 1;
  width: 12%;
  margin-top: 2%;
}
