header{
}

.header-general {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-header {
  width: 100%;
}

.logo {
  width: 12%;
  margin-top: 3%;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5vw;
}

nav{
  position: absolute;

}
