h2 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 3em;
  margin-top: 15%;
  margin-bottom: 5%;
}

.fotoCoders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4%;
}

.perfil {
  display: flex;
  align-items: center;
}

.fotoPerfil {
  width: 75%;
}

p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5vw;
}

.p-image-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-image {
  width: 100%;
}

.herramientas {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 5vh;
  background-color: #87dbed;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .fotoCoders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .fotoPerfil {
    width: 20%;
  }

  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 3vw;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .herramientas {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 1vh;
    background-color: #87dbed;
    border-radius: 20px;
  }
}

@media (max-width: 1080px) {
  .herramientas {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 3vh;
    background-color: #87dbed;
    border-radius: 20px;
  }
}

@media (max-width: 350px) {
  .herramientas {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 2vh;
    background-color: #87dbed;
    border-radius: 20px;
  }
}
