h2 {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.fotoscoders {
  display: flex;
  width: 100%;
  height: auto;
}
.perfil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  column-gap: 0.5%;
  width: 50%;
}
.img-main {
  width: 70%;
}
.nombrecoders {
  display: flex;
  justify-content: space-around;
}
.p-image {
  width: 100%;
}
